name: Publish Prod

on:
  workflow_dispatch:

permissions:
  actions: write
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '6.0.x' 

      - name: Restore dependencies
        run: dotnet restore src/GroupDocs.Conversion.Cli/GroupDocs.Conversion.Cli.csproj

      - name: Build
        run: dotnet build --configuration Release --no-restore src/GroupDocs.Conversion.Cli/GroupDocs.Conversion.Cli.csproj

      - name: Pack Nuget
        run: dotnet pack --include-symbols -p:SymbolPackageFormat=snupkg --no-build -c Release src/GroupDocs.Conversion.Cli/GroupDocs.Conversion.Cli.csproj -o ./build_out

      - name: Download CodeSignTool
        run: |
          wget -O codesign.zip https://github.com/SSLcom/CodeSignTool/releases/download/v1.3.0/CodeSignTool-v1.3.0.zip
      
      - name: Unpack CodeSignTool
        run: |
          mkdir -p "$GITHUB_WORKSPACE/code_sign"
          unzip -q codesign.zip -d "$GITHUB_WORKSPACE/code_sign"
      
      - name: Configure CodeSignTool
        run: |
          confPath="$GITHUB_WORKSPACE/code_sign/conf/code_sign_tool.properties"
          if [ -f "$confPath" ]; then rm -f "$confPath"; fi
          cat > "$confPath" << EOF
          CLIENT_ID=kaXTRACNijSWsFdRKg_KAfD3fqrBlzMbWs6TwWHwAn8
          OAUTH2_ENDPOINT=https://login.ssl.com/oauth2/token
          CSC_API_ENDPOINT=https://cs.ssl.com
          TSA_URL=http://ts.ssl.com
          TSA_LEGACY_URL=http://ts.ssl.com/legacy
          EOF

      - name: Prepare artifacts directory
        run: |
          mkdir -p "$GITHUB_WORKSPACE/artifacts"
          find "$GITHUB_WORKSPACE/build_out" -type f ! -name "*.nupkg" -exec mv {} "$GITHUB_WORKSPACE/artifacts/" \;

      - name: Sign packages with SSL.com eSigner
        working-directory: ${{ github.workspace }}/code_sign
        run: |
          java -Xmx1024M -jar "./jar/code_sign_tool-1.3.0.jar" batch_sign -username="${{ secrets.ES_USERNAME }}" -password="${{ secrets.ES_PASSWORD }}" -totp_secret="${{ secrets.ES_TOTP_SECRET }}" -input_dir_path="$GITHUB_WORKSPACE/build_out" -output_dir_path="$GITHUB_WORKSPACE/artifacts"
    
      - name: Publish Nuget
        env:
          NUGET_TOKEN: ${{ secrets.NUGET_API_KEY_PROD }}
        run: dotnet nuget push ./artifacts/*.nupkg -s https://api.nuget.org/v3/index.json -k ${NUGET_TOKEN} --skip-duplicate         

      - name: Publish distributable (Windows)
        run: dotnet publish src/GroupDocs.Conversion.Cli/GroupDocs.Conversion.Cli.csproj --configuration Release -p:PublishSingleFile=false -p:RuntimeIdentifier=win-x64 --self-contained --output ./publish/win

      - name: Publish distributable (Linux)
        run: dotnet publish src/GroupDocs.Conversion.Cli/GroupDocs.Conversion.Cli.csproj --configuration Release -p:PublishSingleFile=false -p:RuntimeIdentifier=linux-x64 --self-contained --output ./publish/linux

      - name: Zip Windows distributable
        run: |
          cd publish/win
          zip -r ../../windows-distributable.zip ./*

      - name: Zip Linux distributable
        run: |
          cd publish/linux
          zip -r ../../linux-distributable.zip ./*

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1.1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: ${{ github.ref_name }}
          draft: false
          prerelease: false  

      - name: Upload Release Asset (Windows)
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./windows-distributable.zip
          asset_name: windows-distributable.zip
          asset_content_type: application/zip

      - name: Upload Release Asset (Linux)
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./linux-distributable.zip
          asset_name: linux-distributable.zip
          asset_content_type: application/zip